# Trying to group again

## Setup

In [1]:
import pandas as pd

In [2]:
import os

In [3]:
a330yearIn = os.path.join("output", "processed_data", "A330_year.csv")
a330year = pd.read_csv(a330yearIn)

In [4]:
a330year

         c/n         f/f                 operator  type   St  year
0       30.0  1993-06-22               Air Inter    330  NaN  1993
1       37.0  1993-10-20               Air Inter    330  NaN  1993
2       45.0  1994-01-31               Air Inter    330  NaN  1994
3       50.0  1994-03-28             Thai AW Int    330  STD  1994
4       54.0  1994-02-24           Aer Lingus lsd   330  NaN  1994
...      ...         ...                      ...   ...  ...   ...
1499  2019.0  2022-09-13          Virgin Atlantic   330    C  2022
1500  2020.0  2022-10-25            Air Greenland   330    C  2022
1501  2022.0  2022-10-17         French Air Force   330    C  2022
1502  2023.0  2022-11-10  United Arab Emirates AF   330  NaN  2022
1503  2024.0  2022-12-08                   Condor   330  NaN  2022

[1504 rows x 6 columns]

In [13]:
group330 = a330year.groupby('year').size()

print(group330)

year
1993      2
1994     14
1995     26
1996      7
1997     17
1998     21
1999     46
2000     41
2001     33
2002     41
2003     31
2004     44
2005     57
2006     63
2007     63
2008     74
2009     81
2010     76
2011     85
2012     89
2013    104
2014     98
2015     97
2016     64
2017     67
2018     49
2019     52
2020     20
2021     19
2022     23
dtype: int64

In [14]:
outfile = os.path.join(".", "a330year_count_test.csv")
group330.to_csv(outfile)